.swagger-ui {
  @import "~tachyons-sass/tachyons.scss";
  @import "mixins";
  @import "variables";
  @import "colors";
  @import "type";
  @import "layout";
  @import "buttons";
  @import "form";
  @import "modal";
  @import "models";
  @import "servers";
  @import "table";
  @import "topbar";
  @import "information";
  @import "authorize";
  @import "errors";
  @include text_body();
  @import "split-pane-mode";
}

.table_row {
  display: flex;
}

.param_row {
  display: flex;
  justify-content: space-between;
  width: 50%;
  padding: 15px;
}

.param_row--right {
  border-left: 2px solid #c8d1cd;
  padding-left: 30px;
}

.col_name {
  width: 50% !important;
  max-width: 180px;
}

.col_description {
  width: 50% !important;
  max-width: 180px;
}

@media only screen and (min-width: 1020px) {
  7 .col_name {
    max-width: none;
  }

  .col_description {
    max-width: none;
  }
}

.route_block_header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  cursor: pointer;
  font-size: 24px;
  margin: 0px;
  padding: 10px 30px 10px 10px;
  border-bottom: 1px solid #bdbfc3;
  margin-bottom: 5px;

  &:hover {
    background-color: #f5f5f5;
  }
}

.routes {
  display: flex;
  flex-direction: column;
}

// Route
.route {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;

  &_info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding: 5px 15px 5px 5px;
    border: 1px solid #61affe;
    border-radius: 3px;
    background-color: #eaf3fb;

    &--open {
      border-radius: 3px 3px 0px 0px;
    }

    &--put {
      border-color: #fca130;
      background-color: #fbf1e8;
    }

    &--post {
      border-color: #49cc90;
      background-color: #e7f6f0;
    }

    &--delete {
      border-color: #f93e3e;
      background-color: #fbe7e8;
    }

    &_method {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 6px 15px;
      border-radius: 3px;
      width: 80px;
      font-size: 14px;
      font-weight: 700;
      color: #fff;
      text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
      background-color: #5badf9;

      &--put {
        border-color: #fca130;
        background-color: #ff9f48;
      }

      &--post {
        border-color: #49cc90;
        background-color: #3fcb92;
      }

      &--delete {
        border-color: #f93e3e;
        background-color: #fd3e47;
      }
    }
  }

  &_body {
    padding: 5px;
    background-color: #5badf9;
    border: 1px solid #61affe;
    border-radius: 0px 0px 3px 3px;
    background-color: #eaf3fb;
    border-top-width: 0px;

    &--put {
      border-color: #fca130;
      background-color: #fbf1e8;
    }

    &--post {
      border-color: #49cc90;
      background-color: #e7f6f0;
    }

    &--delete {
      border-color: #f93e3e;
      background-color: #fbe7e8;
    }
  }

  &_navbar {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #fff;
    padding: 8px 20px;
    height: 50px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);

    &_item {
      cursor: pointer;
      padding: 0px 20px 7px 20px;
      margin-right: 20px;
      border-bottom: 4px solid #fff;

      &--get.route_navbar_item--open {
        border-color: #5badf9;
      }

      &--put.route_navbar_item--open {
        border-color: #ff9f48;
      }

      &--post.route_navbar_item--open {
        border-color: #3fcb92;
      }

      &--delete.route_navbar_item--open {
        border-color: #fd3e47;
      }
    }
  }
}

// Filter
.filters {
  display: flex;
  flex-direction: row;
}

.filter {
  display: flex;
  flex-direction: column;
  color: #3b4151;
  margin: 10px;

  &_column {
    display: flex;
    flex-direction: column;
    width: 25%;
  }

  &_name {
    font-size: 16px;
    font-weight: 700;
    font-family: sans-serif;
    max-width: 90px;
  }

  &_info {
    font-size: 12px;
    font-weight: 600;
    font-family: monospace;
    padding: 5px 0;
    max-width: 90px;
  }

  @media only screen and (min-width: 1020px) {
    &_name {
      max-width: none;
    }

    &_info {
      max-width: none;
    }
  }
}

// Info

.info {
  display: flex;
  flex-direction: column;

  &_header {
      font-size: 20px;
      font-weight: 600;
      border-bottom: 2px solid #85B465;
      padding-bottom: 2px;
      margin: 20px 0 20px 0;
  }

  &_subheader {
      font-size: 16px;
      font-weight: 600;
      margin: 20px 0 20px 0;
  }

  &_section {
      margin-bottom: 20px;
  }

  &_nav {
    display: flex;
    flex-direction: row;
    font-weight: 600;
    margin: 0px !important;

    &_item {
      cursor: pointer;
      padding: 12px 25px 10px 25px;
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;

      &--active {
        background: #179f9e;
        color: #fff;
      }
    }


    &_section {
        padding: 10px;
    }
  }

  &_body {
    padding: 20px;
    border: 3px solid #179f9e;
  }
}

.filters_body {
  padding: 20px;
  border-radius: 5px;
}

.code_wrapper {
    &--retracted {
        max-height: 300px !important;
        overflow-y: scroll !important;
    }
}

.toggle_expand {
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
}


// Global

pre {
    margin: 0px !important;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #179f9e;
}
